@charset "UTF-8";

/*Estilo para impressoras*/

*{
    margin: 10px;
    padding: 10px;
}

html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}

menu{
    display: none;
    /*para o menu não aparecer na tela de impressão pq não é necessário*/
}

article{
    width: 100%;
}

article::after{
    content: 'Esse artigo foi impresso através do site cursoemvideo.com';
    color: rgb(123, 11, 11);
}